<mat-toolbar color="primary" class="toolbar">
  <a routerLink="/" class="home-link">Library</a>
  <span class="toolbar__space"></span>
  <button mat-icon-button (click)="showAuthDialog()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<main>
  <div *ngIf="!userService.isAuthenticatedUser" class="welcome" [@flyOut]>
    <h2>Добро пожаловать.</h2>
    <p>
      Ниже Вы можете видеть список всех книг, доступных в системе.
    </p>
    <p>
      Для того, что бы иметь возможность добавлять новые, редактировать и удалять существующие книги Вам нужно
      войти в систему. Это можно сделать кликнув по значку <mat-icon inline>account_circle</mat-icon> в шапке
      страницы
    </p>
  </div>

  <router-outlet></router-outlet>
</main>
