:host {
  display: block;
}

.toolbar {
  top: 0;
  position: sticky;

  // Что бы анимируемый .welcome не перекрывал шапку при уходе
  z-index: 1;

  &__space {
    flex: 1 1 100%;
  }
}

.home-link {
  color: white;
  text-decoration: none;

  &:active,
  &:visited {
    color: inherit;
  }
}

main {
  margin: 0 auto;
  max-width: 700px;
  // Что бы анимация на показывала вертикальную прокрутку
  overflow-x: hidden;
}

.welcome {
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
