:host {
  display: block;
}

.toolbar {
  padding: 16px;
  text-align: right;
}

.item {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;

  padding: 16px;

  & + & {
    border-top: 1px solid #c4c4c4;
  }

  &__icon,
  &__actions {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__content {
    flex: 1 1 100%;
    padding: 0 16px;
  }

  &__name {
    font-weight: bold;
  }
}
