<!--suppress HtmlFormInputWithoutLabel -->
<form [formGroup]="model">
  <!--region Название-->
  <mat-form-field class="field">
    <mat-label>Название</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-error *ngIf="model.get('name').hasError('required')">
      Поле обязательно для заполнения
    </mat-error>
  </mat-form-field>
  <!--endregion-->
  <!--region Авторы-->
  <mat-form-field class="field">
    <mat-label>Авторы</mat-label>
    <textarea
      matInput
      appArrayValue=","
      formControlName="authors"
    ></textarea>
    <mat-hint>
      Введите авторов, разделяя их запятой
    </mat-hint>
  </mat-form-field>
  <!--endregion-->
  <!--region Год издания-->
  <mat-form-field class="field">
    <mat-label>Год издания</mat-label>
    <input
      matInput
      type="number"
      formControlName="year"
    >
    <mat-error *ngIf="model.get('year').hasError('max')">
      Год издания не может быть больше текущего года
    </mat-error>
  </mat-form-field>
  <!--endregion-->
  <!--region ISBN-->
  <mat-form-field class="field">
    <mat-label>ISBN</mat-label>
    <input
      matInput
      type="text"
      formControlName="isbn"
    >
    <mat-error *ngIf="model.get('isbn').hasError('isbn')">
      Не корректный ISBN
    </mat-error>
  </mat-form-field>
  <!--endregion-->
</form>
<div class="toolbar">
  <button
    mat-stroked-button
    color="primary"
    [disabled]="model.invalid"
    (click)="save()"
  >
    {{bookId ? 'Сохранить' : 'Создать'}}
  </button>
</div>
