<div *ngIf="userService.isAuthenticatedUser" class="toolbar">
  <button mat-stroked-button color="primary" [routerLink]="['/books/edit']">
    <mat-icon>add</mat-icon>
    Добавить книгу
  </button>
</div>

<div>
  <div class="item" *ngFor="let book of booksService.books$ | async; trackBy: getBookHash" [@flyInOut]>
    <mat-icon class="item__icon">book</mat-icon>

    <div class="item__content">
      <div class="item__name"> {{book.name}} </div>
      <div *ngIf="book.authors?.length"> {{book.authors.join(', ')}} </div>
      <div *ngIf="book.year"> {{book.year}} г. </div>
      <div *ngIf="book.isbn"> ISBN: {{book.isbn}} </div>
    </div>

    <div class="item__actions" *ngIf="userService.isAuthenticatedUser">
      <button
        mat-icon-button
        color="primary"
        title="Редактировать книгу"
        [routerLink]="['/books/edit', book.id]"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        title="Удалить книгу"
        (click)="booksService.deleteBook(book.id)"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</div>

