<!--suppress HtmlFormInputWithoutLabel -->
<h2 mat-dialog-title>Вход</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
      >
      <mat-error *ngIf="form.get('email').hasError('required')">
        Поле обязательно
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('pattern')">
        Не корректный email
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
      >
      <mat-error *ngIf="form.get('password').hasError('required')">
        Поле обязательно
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="toolbar">
  <button mat-stroked-button [disabled]="form.invalid" (click)="registration()">Registration</button>
  <button mat-stroked-button color="primary" [disabled]="form.invalid" (click)="logIn()">Log in</button>
</mat-dialog-actions>
